{{ define "main" }}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
  <div class="post-meta">
    <span class="post-date">
      {{ .Date.Format "2006-01-02" }}
    </span>
    {{ with .Params.Author }}
    <span class="post-author">::
      {{ . }}
    </span>
    {{ end }}
  </div>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absURL }}">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}

  {{ with .Params.Cover }}
  <img src="{{ . | absURL }}" class="post-cover" />
  {{ end }}

  {{ if .Params.Toc }}
  <div class="table-of-contents">
    {{ .TableOfContents }}
  </div>
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>
  {{ if or .NextInSection .PrevInSection }}
  <div class="pagination">
    <div class="pagination__title">
      <span
        class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
      <hr />
    </div>
    <div class="pagination__buttons">
      {{ if .NextInSection }}
      <span class="button previous">
        <a href="{{ .NextInSection.Permalink }}">
          <span class="button__icon">←</span>
          <span class="button__text">{{ .NextInSection.Title }}</span>
        </a>
      </span>
      {{ end }}
      {{ if .PrevInSection }}
      <span class="button next">
        <a href="{{ .PrevInSection.Permalink }}">
          <span class="button__text">{{ .PrevInSection.Title }}</span>
          <span class="button__icon">→</span>
        </a>
      </span>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ partial "comments.html" . }}
</div>
{{ end }}
